@page "/addsup"
@inject NavigationManager NavigationManager
@using HelpDesk.Models
@using Microsoft.EntityFrameworkCore

<h1>Добавить нового рабочего</h1>

<form @onsubmit="Addsup">
    <div class="form-group">
         <label class="cell">Логин:</label>
        <input type="text" class="form-control" @bind="@login" />
    </div>

    <div class="form-group">
         <label class="cell">Пароль:</label>
        <input type="text" class="form-control" @bind="@password" />
    </div>

    <button type="submit" class="btn btn-primary"><div class="header2">Добавить</div></button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Отмена</button>
</form>


<style>
    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        border-radius: 5px;
    }
</style>

@code {
    private Models.Suplier sup = new Models.Suplier();
    Models.HelpDeskContext db = new Models.HelpDeskContext();
    private string login;
    private string password;
    private bool showSuccessMessage = false;
    private async Task Addsup()
    {
        var newSup = new Suplier
            {
                Login = login,
                Password = password,
            };

        // Сохранение новой заявки в базе данных
        db.Supliers.Add(newSup);
        db.SaveChanges();
        // После успешного добавления рабочего, показываем сообщение об успешном добавлении
        showSuccessMessage = true;
        NavigationManager.NavigateTo("/panel");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/panel");
    }
}
